Source: system-ui-tools
Section: user/other
Priority: optional
Maintainer: CODeRUS <coderusinbox@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: system-ui-tools
Architecture: armel
Depends: unrestricted-system-ui
Description: Status menu system toolbar extension
 GSM, WLAN, Bluetooth, NFC
XSBC-Maemo-Display-Name: Status menu system toolbar extension | CODeRUS
